<table id="board">
  <tbody>
    <tr id="row-1">
      <td class="col-1">
        
      </td>
      <td class="col-2">
        
      </td>
      <td class="col-3">
        
      </td>
      <td class="col-4">
        
      </td>
      <td class="col-5">
        
      </td>
      <td class="col-6">
        
      </td>
      <td class="col-7">
        
      </td>
    </tr>
    <tr id="row-2">
      <td class="col-1">
        
      </td>
      <td class="col-2">
        
      </td>
      <td class="col-3">
        
      </td>
      <td class="col-4">
        
      </td>
      <td class="col-5">
        
      </td>
      <td class="col-6">
        
      </td>
      <td class="col-7">
        
      </td>
    </tr>
    <tr id="row-3">
      <td class="col-1">
        
      </td>
      <td class="col-2">
        
      </td>
      <td class="col-3">
        
      </td>
      <td class="col-4">
        
      </td>
      <td class="col-5">
        
      </td>
      <td class="col-6">
        
      </td>
      <td class="col-7">
        
      </td>
    </tr>
    <tr id="row-4">
      <td class="col-1">
        
      </td>
      <td class="col-2">
        
      </td>
      <td class="col-3">
        
      </td>
      <td class="col-4">
        
      </td>
      <td class="col-5">
        
      </td>
      <td class="col-6">
        
      </td>
      <td class="col-7">
        
      </td>
    </tr>
    <tr id="row-5">
      <td class="col-1">
        
      </td>
      <td class="col-2">
        
      </td>
      <td class="col-3">
        
      </td>
      <td class="col-4">
        
      </td>
      <td class="col-5">
        
      </td>
      <td class="col-6">
        
      </td>
      <td class="col-7">
        
      </td>
    </tr>
    <tr id="row-6">
      <td class="col-1">
        
      </td>
      <td class="col-2">
        
      </td>
      <td class="col-3">
        
      </td>
      <td class="col-4">
        
      </td>
      <td class="col-5">
        
      </td>
      <td class="col-6">
        
      </td>
      <td class="col-7">
        
      </td>
    </tr>
  </tbody>
</table>