@import "variables";

#board{
  // General row style
  tr{
    width: 50px;
    height: 50px;
    background: #CCC;
    cursor: pointer;
  }

  // General column style
  td{
    width: 50px;
    height: 50px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    -khtml-border-radius: 30px;
    border-radius: 30px;
  }
}